.login section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}
#login-button,#create-account-button,#password-recover-button,#login-guest-button {
   width:100%;
   font-size:1em;
}
#pass, #user {
    width: 99%;
    font-size:1.1em;
}
table {

    margin-left:20%;
    width: 60%;
    font-size: 2em;
}

@media screen and (-ms-view-state: snapped) {
    .login section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
    table {
        margin-left: 5%;
        width: 90%;
        font-size: 1.7em;
    }
    .win-commandicon,.win-commandimage {
        width:30px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .login section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 2560px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 1366px) {
    body {
        font-size: 10px;
    }
}