.show section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

body, html {
    width: 100%;
    height: 100%;
}


.win-item {
    width: 420px;
    height: 260px;
}

#tasks {
    background-color: #00A9EC;
}

#tasksSnapped {
    opacity: 0;
}

.template {
    padding: 10px;
    background-color: #24029c;
    display: inline-block;
    width: 420px;
    height: 260px;
    overflow-y: auto;
}


    .template img {
        margin-top:10px;
        float: left;
        display: inline-block;
        width: 100px;
        height: 203px;
    }

    .template h2 {
        overflow-y: auto;
        font-size: 36px;
        word-wrap: break-word;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
        padding-right: 20px;
        max-height:100px;
        max-width:290px;
    }

    .template #content {
        overflow-y: auto;
        font-size: 18px;
        word-wrap: break-word;
        text-align: center;
        padding-right: 20px;
        max-height:100px;
        max-width:290px;
    }
      
    
    .template #finishDate {
        padding-top:10px;
        position:absolute;
        font-size: 18px;
        bottom:10px;
        right:10px;
    }
    .template .text {
         position:absolute;
         font-size: 18px;
         bottom:10px;
         right:220px;
    }

@media screen and (min-height: 760px) {

    .win-listview {
        background-color: #00A9EC;
        height: 760px;
        margin-left: 120px;
    }
}
@media screen and (min-height: 900px) {

    .win-listview {
        background-color: #00A9EC;
        height: 900px;
        margin-left: 120px;
    }
}
@media screen and (min-height: 1060px) {

    .win-listview {
        background-color: #00A9EC;
        height: 1060px;
        margin-left: 120px;
    }
}
@media screen and (min-height: 1420px) {

    .win-listview {
        background-color: #00A9EC;
        height: 1420px;
        margin-left: 120px;
    }
}

   

@media screen and (max-width: 640px) {
    .show section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    #tasksSnapped {
        display:block;
        opacity: 1;
    }

    .win-listview {
        margin-left: 20px;
    }

    .win-item {
        width: 560px;
    }

    
.template {
    padding: 10px;
    background-color: #24029c;
    display: inline-block;
    width: 560px;
    height: 260px;
    overflow-y: auto;
}

     .template h2 {
        overflow-y: auto;
        font-size: 36px;
        word-wrap: break-word;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
        padding-right: 20px;
        max-height:100px;
        max-width:465px;
    }

    .template #content {
        overflow-y: auto;
        font-size: 18px;
        word-wrap: break-word;
        text-align: center;
        padding-right: 20px;
        max-height:100px;
        max-width:465px;
    }
      
    
    .template #finishDate {
        padding-top:10px;
        position:absolute;
        font-size: 18px;
        bottom:10px;
        right:10px;
    }
    .template .text {
         position:absolute;
         font-size: 18px;
         bottom:10px;
         right:230px;
    }

    #tasks {
        display: none;
        overflow-y: auto;
    }
}

/*@media screen and (-ms-view-state: fullscreen-portrait) {
    .show section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}*/
