.register section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}
html,body {
    width:100%;
}
#create-account-button {
   width:100%;
   font-size:1em;
}
#pass, #user, #confirmPass,#email {
    width: 99%;
    font-size:1.1em;
}
table {

    margin: 0 auto;
    width: 90%;
    font-size: 2em;
}

@media (max-width: 2560px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 1366px) {
    body {
        font-size: 10px;
    }
}