.arrivals section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#txt {
    display: none;
}

body {
    height: 100%;
}

table {
    border-collapse: collapse;
	font-size:1.2em;
}

td, th {
    margin-left: 12px;
    padding-left: 12px;
    margin-right: 12px;
    padding-right: 12px;
}

    td:nth-child(4), td:nth-child(10) {
        display: none;
    }
   
a, a:link, a:visited, a:hover, a:focus, a:active {
    color: #fff;
}

#appbar,button {
    background-color: #0093DD;
    color:#ffffff;
}
.win-commandicon, .win-commandimage{
    color: #fff;
    border-color:#fff;
}
@media screen and (-ms-view-state: snapped) {
    .arrivals section[role=main] {
        margin-left: 20px;
        margin-right: 10px;
    }


    #txt {
        display: none;
    }

    body {
        height: 100%;
    }

    table {
		font-size:0.9em;
        width:295px;
        table-layout: fixed;
    }

    td:nth-child(1), th:nth-child(1),td:nth-child(2), th:nth-child(2) {
        display: none;
    }

    td:nth-child(3), th:nth-child(3),td:nth-child(8), th:nth-child(8) {
        display: none;
    }

    td:nth-child(4), th:nth-child(4) {
        width: 70px;
        word-break: inherit;
        word-wrap: break-word;
    }


    td:nth-child(5), th:nth-child(5),td:nth-child(6), th:nth-child(6) {
        width: 40px;
        word-break: inherit;
        word-wrap: break-word;
    }

    a, a:link, a:visited, a:hover, a:focus, a:active {
        color: #fff;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .arrivals section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
            a, a:link, a:visited, a:hover, a:focus, a:active {
        color: #fff;
    }
         #txt {
        display: none;
    }

    body {
        height: 100%;
    }

    table {
		font-size:0.9em;
        width:88%;
        table-layout: fixed;
    }
        td:nth-child(4), th:nth-child(4),td:nth-child(5), th:nth-child(5) {
        width: 70px;
        word-break: inherit;
        word-wrap: break-word;
    }
    td:nth-child(8), th:nth-child(8) {
        width: 95px;
        word-break: inherit;
        word-wrap: break-word;
    }
}
